<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ShowAllEmpAction</servlet-name>
        <servlet-class>action.ShowAllEmpAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllEmpAction</servlet-name>
        <url-pattern>/ShowAllEmpAction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowOneEmpAction</servlet-name>
        <servlet-class>action.ShowOneEmpAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowOneEmpAction</servlet-name>
        <url-pattern>/ShowOneEmpAction</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteEmpAction</servlet-name>
        <servlet-class>action.DeleteEmpAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmpAction</servlet-name>
        <url-pattern>/DeleteEmpAction</url-pattern>
    </servlet-mapping>
</web-app>
